@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}
.active hr {
    @apply block
}
@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #5f6fff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}